
<div id="equation">
  <span class="num color1">{{num1}}</span>
  {{operation}}
  <span class="num color2">{{num2}}</span>
  = ?
</div>
<div id="answer-range">
  {{#each num in answerRange}}
    <button {{action 'verifyAnswer' num }} >{{num}}</button>
  {{/each}}
</div>

<div id="visualization">
  {{#each num1Array}}
    <div class="ball color1"></div>
  {{/each}}
  {{#each num2Array}}
    <div class="ball color2"></div>
  {{/each}}
</div>
{{#if isAnsweredState}}
  <div id="answer-visual" {{bindAttr class="isAnsweredState"}} >
    {{#times answer}}
      <div class="ball answer"></div>
    {{/times}}
    <span id="answer-num">{{answer}}</span>
  </div>
  <div id="buttons">
    <span id="msg" {{bindAttr class="isCorrectState"}}>{{message}}</span>
    &nbsp;&nbsp;&nbsp;
    {{#if isCorrectState}}
      <button id="go-again" {{action 'goAgain' answer }} >Go Again</button>
    {{else}}
      <button id="try-again" {{action 'tryAgain' answer }} >Try Again</button>
    {{/if}}
  </div>
{{/if}}